body {
    margin: 0%;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.box {
    padding: 10px;
}

.upper {
    grid-row: 1 / 3;
    grid-column: 1 / 6;
}

.lower {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #202329;
    grid-row: 3 / 6;
    grid-column: 1 / 6;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.card {
    background-color: grey;
}

.spacer {
    grid-column: 1 / 6;
}

.footer {
    background-color: aqua;
}

.left {
    float: left;
}

.right {
    width: 20vw;
    height: 5vh;
    background-color: aqua;
    float: right;
}

.title {
    font-size: large;
    position: absolute;
    margin-top: 8%;
    margin-left: 36%;
}

h1 {
    font-family: 'firacode';
    font-weight: 400;
}

@font-face {
    font-family: 'firacode';
    src: url('../assets/FiraCode-Regular.ttf') format('truetype');
}